#quiz .choice {
  p {
    font-weight: 600;
  }

  .answer {
    margin-bottom: 0.7rem;

    label {
      margin-left: 0.5rem;
    }
    input[type="radio"] {
      margin-top: -1px;
      vertical-align: middle;
    }
  }
}

#quiz {
  .submit {
    margin-top: 1rem;
    text-align: center;

    input[type="submit"] {
      background-color: $submit-bg;
      border: none;
      border-radius: 10px;
      padding : 0.7rem 1rem;
      cursor: pointer;
      color: $submit-text;
    }
  }
}
