<form id="quiz">
    {{ range .questions }}
    {{ if eq "choice" .type }}
        {{ partial "quiz/choice" . }}
    {{ end }}
    {{ if eq "multichoice" .type }}
        {{ partial "quiz/multichoice" . }}
    {{ end }}
    {{ end }}

    <div class="submit">
        <!-- TODO : Traduire -->
        <input type="submit" id="submit_quiz" value="Envoyer le formulaire">
    </div>
    {{ $js := resources.Get "js/main.js" | js.Build (dict "params" .) }}
    <script defer src="{{ $js.Permalink }}"></script>
</form>